<div id="left-sidebar" class="sidebar">
    <div class="navbar-brand">
        <a href="/project/index"><img src="/assets/images/kabi.jpg" alt="HexaBit Logo" class="img-fluid logo"><span>KABI</span></a>
        <button type="button" class="btn-toggle-offcanvas btn btn-sm btn-default float-right"><i class="lnr lnr-menu fa fa-chevron-circle-left"></i></button>
    </div>
    <div class="sidebar-scroll">
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu">
                <li><a href="/project/index"><i class="icon-wrench"></i><span>项目配置</span></a></li>
                <li><a href="/task/index"><i class="icon-list"></i><span>我的上线单</span></a></li>
                <li><a href="/runlog/index"><i class="icon-anchor"></i><span>运行日志</span></a></li>
            </ul>
        </nav>     
    </div>
</div>